Repository aman556/tce, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tce-owners, @vmware-tanzu/pkg-ako-operator, @vmware-tanzu/pkg-antrea, @vmware-tanzu/pkg-calico, @vmware-tanzu/pkg-cert-manager, @vmware-tanzu/pkg-contour, @vmware-tanzu/pkg-contour-operator, @vmware-tanzu/pkg-external-dns, @vmware-tanzu/pkg-fluent-bit, @vmware-tanzu/pkg-gatekeeper, @vmware-tanzu/pkg-grafana, @vmware-tanzu/pkg-harbor, @vmware-tanzu/pkg-kapp-controller, @vmware-tanzu/pkg-knative-serving, @vmware-tanzu/pkg-load-balancer-and-ingress-service, @vmware-tanzu/pkg-local-path-storage, @vmware-tanzu/pkg-metrics-server, @vmware-tanzu/pkg-multus-cni, @vmware-tanzu/pkg-pinniped, @vmware-tanzu/pkg-prometheus, @vmware-tanzu/pkg-velero, @vmware-tanzu/pkg-vsphere-cpi, @vmware-tanzu/pkg-vsphere-csi

remove building of repositories now in core
  Makefile
  cli/cmd/plugin/addon/README.md
  cli/cmd/plugin/addon/main.go
  cli/cmd/plugin/addon/test/main.go
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/errors.go
  cli/cmd/plugin/standalone-cluster/main.go
  cli/pkg/addon/addon.go
  cli/pkg/addon/configure.go
  cli/pkg/addon/constants.go
  cli/pkg/addon/delete.go
  cli/pkg/addon/errors.go
  cli/pkg/addon/install.go
  cli/pkg/addon/list.go
  cli/pkg/addon/repository.go
  cli/pkg/addon/types.go
  cli/pkg/common/kapp/config.go
  cli/pkg/common/kapp/constants.go
  cli/pkg/common/kapp/errors.go
  cli/pkg/common/kapp/kapp.go
  cli/pkg/common/kapp/repository.go
  cli/pkg/common/kapp/types.go
  cli/pkg/common/types/constants.go
  cli/pkg/common/types/errors.go
  cli/pkg/common/types/functions.go
  cli/pkg/common/types/types.go
  cli/pkg/common/types/util.go
  cli/pkg/standalone-cluster/constants.go
  cli/pkg/standalone-cluster/standalone.go
  cli/pkg/standalone-cluster/types.go
  cli/pkg/utils/output.go
  go.mod
  go.sum
  hack/CORE_BUILD_VERSION
  hack/build-tanzu.sh
  hack/fix-for-ci-build.sh
  hack/install.sh
  hack/package-release.sh
Owners: @vmware-tanzu/tce-owners

cherry-pick cmdhelper file
  test/pkg/cmdhelper/cmdhelper.go
Owners: @vmware-tanzu/tce-owners

add util.go file
  addons/packages/grafana/test/e2e/util.go
Owners: @vmware-tanzu/pkg-grafana

add grafana test suite file
  addons/packages/grafana/test/e2e/grafana_suite_test.go
Owners: @vmware-tanzu/pkg-grafana

add grafana tests
  addons/packages/grafana/test/e2e/grafana_test.go
Owners: @vmware-tanzu/pkg-grafana

checcry-pick cmdhelper file
  test/pkg/cmdhelper/cmdhelper.go
Owners: @vmware-tanzu/tce-owners

add util.go file
  addons/packages/fluent-bit/test/e2e/util.go
Owners: @vmware-tanzu/pkg-fluent-bit

add fluent-bit tests suite
  addons/packages/fluent-bit/test/e2e/fluent-bit_suite_test.go
Owners: @vmware-tanzu/pkg-fluent-bit

add fluent-bit tests
  addons/packages/fluent-bit/test/e2e/fluent-bit_test.go
Owners: @vmware-tanzu/pkg-fluent-bit

refactor code
  addons/packages/fluent-bit/test/e2e/fluent-bit_test.go
Owners: @vmware-tanzu/pkg-fluent-bit

CODEOWNERS:

# This file details the various owners of the TCE project and their
# corresponding directories

# Repository Ownership

## Ownership of the entire TCE repository
*                          @vmware-tanzu/tce-owners

# Package Ownership

## Ownership of the ako-operator package
addons/packages/ako-operator @vmware-tanzu/pkg-ako-operator

## Ownership of the antrea package
addons/packages/antrea @vmware-tanzu/pkg-antrea

## Ownership of the calico package
addons/packages/calico @vmware-tanzu/pkg-calico

## Ownership of the cert-manager package
addons/packages/cert-manager @vmware-tanzu/pkg-cert-manager

## Ownership of the contour package
addons/packages/contour @vmware-tanzu/pkg-contour

## Ownership of the contour-operator package
addons/packages/contour-operator @vmware-tanzu/pkg-contour-operator

## Ownership of the external-dns package
addons/packages/external-dns @vmware-tanzu/pkg-external-dns

## Ownership of the fluent-bit package
addons/packages/fluent-bit @vmware-tanzu/pkg-fluent-bit

## Ownership of the gatekeeper package
addons/packages/gatekeeper @vmware-tanzu/pkg-gatekeeper

## Ownership of the grafana package
addons/packages/grafana @vmware-tanzu/pkg-grafana

## Ownership of the harbor package
addons/packages/harbor @vmware-tanzu/pkg-harbor

## Ownership of the  package
addons/packages/kapp-controller @vmware-tanzu/pkg-kapp-controller

## Ownership of the knative-serving package
addons/packages/knative-serving @vmware-tanzu/pkg-knative-serving

## Ownership of the load-balancer-and-ingress-service package
addons/packages/load-balancer-and-ingress-service @vmware-tanzu/pkg-load-balancer-and-ingress-service

## Ownership of the local-path-storage package
addons/packages/local-path-storage @vmware-tanzu/pkg-local-path-storage

## Ownership of the metrics-server package
addons/packages/metrics-server @vmware-tanzu/pkg-metrics-server

## Ownership of the multus-cni package
addons/packages/multus-cni @vmware-tanzu/pkg-multus-cni

## Ownership of the pinniped package
addons/packages/pinniped @vmware-tanzu/pkg-pinniped

## Ownership of the prometheus package
addons/packages/prometheus @vmware-tanzu/pkg-prometheus

## Ownership of the velero package
addons/packages/velero @vmware-tanzu/pkg-velero

## Ownership of the vsphere-cpi package
addons/packages/vsphere-cpi @vmware-tanzu/pkg-vsphere-cpi

## Ownership of the vsphere-csi package
addons/packages/vsphere-csi @vmware-tanzu/pkg-vsphere-csi
